body {
	text-align: center;
	background-color: white;
	
}

#Title{color: black;}
#body1{
	color: red;
	font-size: 40px;
}
#body2{
	color: black;
	font-size: 20px;
}
#container{
	position: relative;
	top: -60px;
	left: 460px;
	width: 500px;
	
}
#container2{
	position: relative;
	top: -40px;
	left: 460px;
	width: 500px;
	color: red;
}
#container3{
	position: relative;
	top: -35px;
	left: 460px;
	width: 500px;
	color: black;
}
#container4{
	position: relative;
	top: -30px;
	left: 460px;
	width: 500px;
	color: red;
}
